*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #023047;
  overflow-y: hidden !important;
}

.App{
  min-height: 100vh;
  height: auto; 
  color: #fff;
}

#root{
  height: 100%;
}




.btnUp{
  margin-top: -1%;
}

.up{
  margin-top: -2% !important;
}


html {
  overflow-x: hidden;
  font-size: 1em; }

footer{
  width: 100%;
  position: fixed;
  bottom: 0 !important;
}
  

input, textarea, p {
  font-weight: 300; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

::-moz-selection {
  background: #000;
  color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300 !important; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

